**/build*/
**/__pycache__/
**/.kdev4/
**/nbproject/
**.a
**.so
.gitignore
.cache
.vs*
**/dist/
**/*.egg-info/
**/x64/
**/Debug/
**/Release/
**/experiments
**/translation_vsproject/*
**.pyd
**/data/configurations/YA*.json