exclude source/.gitmodules source/.travis.yml source/.appveyor.yml
exclude source/Unit-Tests

include LICENSE MANIFEST.in *.cfg *.py *.rst *.txt
include source/*.cpp source/*.h

include source/docs source/CMake* source/*.rst

graft source/pybind11/
graft source/eigen-3.3.7/